/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html {
    color: #212529;
    line-height: 1.5;
    background-color: white;
    font-family: 'Hind', sans-serif;
}
.container-text{
    text-align: center;
    max-width: 750px;
}

/* HEADER */
header{
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 100;
    transform: translateX(-50%);
}
/* .container-xl{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
} */
header .navbar-brand{
    font-size: 36px;
    color: white;
}   
header .navbar-brand i{
    font-size: 45px;
    color: #35a22c
}
header #navbarExpander .nav-item{
    margin: 0 10px;
}  
header #navbarExpander .nav-item .nav-link{
    color:white;
    transition: all .5s;
}  
header #navbarExpander .nav-item:hover .nav-link{
    color: #35a22c;
}  
header #navbarExpander .nav-item::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: #35a22c;
    display: block;
    transition: all .5s;
}   
header #navbarExpander .nav-item:hover::after{
    width: 100%;
}   
header #navbarExpander .nav-item.active .nav-link{
    color: #35a22c;
}  
header #navbarExpander .nav-item.active::after{
    width: 100%;
}  
header .navbar-toggler {
    background-color: #35a22c;
}
header .navbar .navbar-dark .navbar-toggler{
    color: rgba(255,255,255,50%);
    border-color: rgba(255,255,255,10%);
}
header .navbar .navbar-toggler:focus, 
header .navbar .navbar-toggler:hover{
    text-decoration: none;
}
header .navbar-toggler:hover{
    background-color: #0ea8cf;
}
header .navbar .navbar-toggler-icon{
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    content: "";
    background: 50%/100% 100%;
    background-repeat: no-repeat;
}
@media screen and (max-width:991.98px){
    header .navbar-collapse{
        background-color:#fff
    }
    header #navbarExpander .nav-item{
        margin: 0;
        padding: 0 10px;
    }  
    header #navbarExpander .nav-item:hover{
        background-color:#35a22c
    }
    header #navbarExpander .nav-item .nav-link{
        color:#35a22c
    }
    header #navbarExpander .nav-item:hover .nav-link{
        color:#fff
    }
    header #navbarExpander .nav-item.active::after,
    header #navbarExpander .nav-item:hover::after{
        width: 0;
    }
}
@media screen and (max-width:575.99px) {
    header .navbar-brand i{
        font-size: 8vw;
    }
    header .navbar-brand{
        font-size: 7vw;
    }
}

/* CAROUSEL */
.carousel__overlay{
    background: rgba(39,43,54,50%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.carousel .carousel-item{
    height: 100vh;
}  
.carousel .carousel-caption{
    top: 50%;
    left: 50%;
    /* after set 50% top & left, the caption will move to this */
    /**************************************************************************/
    /*                                   50%                                  */
    /*                                    *                                   */
    /*                                    *                                   */
    /*                                    *                                   */
    /*                                    *                                   */
    /*                                    *                                   */
    /*                                    *                                   */
    /*                                    *                                   */
    /* 50% ************************************************************** 50% */
    /*                                    * -----------------------------     */
    /*                                    * |                            |    */
    /*                                    * |   CAPTION HERE             |    */
    /*                                    * |                            |    */
    /*                                    * -----------------------------     */
    /*                                    *                                   */
    /*                                    *                                   */
    /*                                   50%                                  */
    /**************************************************************************/
    /* So we need to move to x-asis and y-asis 50% to make it center, by using translate (reversed 50%) for these 2 directions */
    transform: translate(-50%,-50%);
}   
.carousel .carousel-caption h5{
    font-size: 56px;
    line-height: 65px;
    font-weight: 400;
}  
.carousel .carousel-caption p{
    font-size: 24px;
}  
.carousel__thumb{
    width: 140px;
    padding: 8px;
    border-radius: 50%;
    margin: auto;
    backdrop-filter: blur(3px);
}  
.carousel-caption img{
    width: 140px;
    border-radius: 50%;
    margin: auto;
}
.carousel .carousel-indicators li{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: none;
}
.carousel .carousel-indicators li.active{
    background-color: #35a22c
}
.carousel-indicators{
    bottom: 10%;
}
.carousel-item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel-item:nth-child(1){
    background-image: url(./image/finland.jpg)
}  
.carousel-item:nth-child(2){
    background-image: url(./image/mountains.jpg)
}
.carousel-item:nth-child(3){
    background-image: url(./image/mountains-1.jpg)
}
@media screen and (max-width:575.99px){
    .carousel__thumb{
        width: 120px;
    }
    .carousel-caption img{
        width: 120px;
    }
    .carousel .carousel-caption h5{
        font-size: 10vw;
        line-height: 10vw;
    }
    .carousel .carousel-caption p{
        font-size: 5vw;
    }
    .carousel-caption{
        padding-top: 0;
    }
}

/* PROJECTS */
.projects h2{
    font-size: 36px;
    line-height: 42px;
    color: #1a1d2d;
    font-weight: 700;
    margin-top: 50px;
}
.projects p{
    color:#585858;
    line-height: 24px
}

.projects .nav{
    justify-content: center;
}
.projects .nav-pills .nav-link{
    border: 1px solid black;
    margin: 0 5px;
    color: black;
}
.projects .nav-pills .nav-link.active{
    background-color: #35A22C;
    border: 1px solid #35A22C;
    color: white;
}
.projects .tab-content{
    width: 100%; 
    margin: 0 auto;
}
.projects .tab-content .card-body{
    text-align: center;
}
.projects .card{
    margin-top: 30px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: none;
    cursor: pointer;
}
.projects .card-body{
    border: 1px solid transparent;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top: transparent;
}
.projects .card:hover .card-body{ 
    /* hover on body card */
    border-color: #35A22C;
}
.projects .card:hover .card-body h5{
    color: #35A22C;
}
@media screen and (max-width: 991.99px) and (min-width: 576px){
    .projects .tab-content{
        width: 90%;
        margin: 0 auto;
    }
}
@media screen and (max-width: 575.99px){
    .projects__list .nav .nav-link{
        padding: 8px;
    }
    .projects__content p{
        max-width: 90%;
        margin: 0 auto;
    }
    /* .projects__list .card,
    .projects__list .card-body{
        padding: 0 -300px;
    } */
    .projects__list .nav .nav-item{
        margin-bottom: 16px;
    }
}

/* FEATURE */
.feature{
    background-image: url(./image/3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /* background-attachment: fixed <-- is to fix the image position when scroll */
    position: relative;
    padding: 100px 0 80px;
    margin-top: 50px;
}
.feature__overlay{
    background-color: rgba(0,0,0,65%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}
.feature__title h2{
    font-size: 36px;
    line-height: 42px;
    color: white;
    font-weight: 700;
}
.feature__title p{
    color:white;
    line-height: 24px
}
.feature__item{
    border: 1px solid rgba(255,255,255,10%);
    color: white;
    text-align: center;
    border-radius: 10px;
    backdrop-filter: blur(3px);
    background-color: rgba(255,255,255,10%);
    transition: all .5s;
}
.feature__item:hover{
    content: "";
    background: black;
    border: 1px solid white;
}
.feature__item i{
    color: #35a22c;
    font-size: 48px;
}
.feature__item h4{
    font-size: 20px;
    padding-top: 25px;
    font-weight: 700;
    line-height: 30px;
}
.feature__item p{
    font-size: 16px;
    padding-top: 15px;
    line-height: 24px;
}
@media screen and (max-width: 575.99px){
    .feature__item{
        margin-top: 50px;
    }
}
/* AWARD */
.award{
    position: relative;
    padding: 65px 0;
}
.award__bg{
    background-image: url(./image/memphis_3.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 50% auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 60%;
}
.award__lp{
    width: 100%;
    border: 1px solid rgba(0,0,0,20%);
    border-radius: 10px;
    padding: 45px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    background-color: rgba(255,255,255,30%);
    backdrop-filter: blur(3px);
    /* create blur effect on back ground */

}
.award__lp h2{
    font-size: 36px;
    line-height: 42px;
    color: #1a1d2d;
    font-weight: 700;
}
.award__lp p{
    color:#585858;
    line-height: 24px
}
.award__rp{
    width: 100%;
}
.award__rp p{
    color:#585858;
    line-height: 24px
}
@media screen and (max-width: 575.99px){
    .award__bg{
        background-size: cover;
    }
}

/* FOOTER */
footer{
    background-color: #222;
}
.footer__content a{
    padding-right: 10px;
}
.footer__content i{
    width: 42px;
    height: 42px;
    line-height: 42px;
    border-radius: 50%;
    border: 1px solid #454545;
    transition: all .5s;
    color: rgba(255,255,255,50%);
    transition: all .5s;
}
.footer__content i:hover{
    color: #35A22C;
    border-color: #35A22C;
}
.footer__copyright{
    border-top: 1px solid #454545;
    padding-top: 30px;
    margin-top: 30px;
}
.footer__copyright p{
    color: rgba(255,255,255,50%);
}

/* END OF STYLE */